{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/footer

    Page footer.

    Example context (json):
    {
        "output": {
            "page_doc_link": "Help and documentation",
            "supportemail": "<a href=\"#\">Contact site support</a>",
            "has_popover_links": true,
            "services_support": "Services and support",
            "login_info": "You are logged in as cute kitten",
            "moodle_release": "90210"
        }
    }
}}

<footer style="padding: 80px 24px 24px; gap: 28px;">
    <div style="display: flex; gap: 48px;">
        <div style="display: flex; gap: 48px;">
            <div style="flex: 0 1 auto; flex-direction: column; display: flex; gap: 16px; width: 301px; margin: 0 auto;">
                {{# output.should_display_logo }}
                <img src="{{ output.get_logo }}" class="logo mr-1" alt="{{ sitename }}" style="width: 47px; height: auto;">
                {{/ output.should_display_logo }}
                <div style="font-size: 24px; font-weight: 700; line-height: 29.05px; letter-spacing: 0.005em;">Unlock New Skills, Earn Achievements, and Grow with Every Lesson.</div>
                <div style="font-size: 16px; font-weight: 500; line-height: 24px; letter-spacing: 0.005em; color: #737373;">{{{ sitename }}}, <span class="current-year"></span></div>
            </div>
        </div>
        <div class="d-flex" style="gap: 74px; flex: 1 1 auto; justify-content: flex-end;">
            <div>
                <div class="fw-bold" style="font-size: 18px; margin: 0px 0px 24px">
                    Info
                </div>
                <div style="font-size: 16px; font-weight: 500; line-height: 24px; color: #737373; display: flex; flex-direction: column; gap: 16px;">
                    <div>FAQ’s</div>
                    <div>Contact</div>
                </div>
            </div>
            <div>
                <div class="fw-bold" style="font-size: 18px; margin: 0px 0px 24px">
                    Legal
                </div>
                <div style="font-size: 16px; font-weight: 500; line-height: 24px; color: #737373; display: flex; flex-direction: column; gap: 16px;">
                    <div>Terms of Service</div>
                    <div>Privacy Policy</div>
                </div>
            </div>
            <div>
                <div class="fw-bold" style="font-size: 18px; margin: 0px 0px 24px">
                    Social
                </div>
                <div style="font-size: 16px; font-weight: 500; line-height: 24px; color: #737373; display: flex; flex-direction: column; gap: 16px;">
                    <div>Instagram</div>
                    <div>Tiktok</div>
                    <div>Youtube</div>
                    <div>LinkedIn</div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr" />
    <div style="display: flex; gap: 48px;">
        <div style="flex: 0 1 auto; width: 252px; margin: 0 auto;">
            <div style="font-size: 14px; font-weight: 500; line-height: 20px; letter-spacing: 0.005em; color: #A3A3A3;"><span class="current-year"></span> {{{ sitename }}} All rights reserved</div>
        </div>
        <div class="d-flex" style="gap: 36px; flex: 1 1 auto; justify-content: flex-end;">
            <div>
                <a href="#" role="button">
                    <img src="theme/moove/pix/ig.png" style="width: 36px; height: auto;">
                </a>
            </div>
            <div>
                <a href="#" role="button">
                    <img src="theme/moove/pix/tt.png" style="width: 36px; height: auto;">
                </a>
            </div>
            <div>
                <a href="#" role="button">
                    <img src="theme/moove/pix/yt.png" style="width: 36px; height: auto;">
                </a>
            </div>
        </div>
    </div>
</footer>

{{{ output.standard_end_of_body_html }}}

{{#js}}
    require(['theme_boost/footer-popover'], function(FooterPopover) {
        FooterPopover.init();
        const currentYear = new Date().getFullYear();
        const yearElements = document.querySelectorAll('.current-year');
        yearElements.forEach(function(element) {
            element.textContent = currentYear;
        });
    });
    
{{/js}}
